.ytp-button-radio {
	background: no-repeat url('chrome-extension://__MSG_@@extension_id__/images/grey.png') !important;
	float: right;
	background-size: auto;
	width: 30px;
	height: 27px;
}

.ytp-button-radio:hover {
	background: no-repeat url('chrome-extension://__MSG_@@extension_id__/images/hover.png') !important;
}

.ytp-button-radio-on {
	background: no-repeat url('chrome-extension://__MSG_@@extension_id__/images/on.png') !important;
}